# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env
.env.*

# VSCode
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Test and coverage
.coverage
htmlcov/
.tox/

# Logs
*.log

# Byte-compiled / optimized / DLL files
*.so

# Distribution / packaging
.Python
dist/
build/
.eggs/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/ 